body { background-color: #fff; color: #000; font: normal 1em "Trebuchet MS", "Verdana", sans-serif; margin: 1.5em; padding: 0; }
a:link, a:visited { background-color: inherit; color: #00f; text-decoration: underline; }
a:hover { background-color: inherit; color: #f00; text-decoration: none; }
h1 { background-color: #000; color: #fff; font-size: 1.7em; font-weight: bold; margin: 0 auto 1em auto; padding: 5px; text-align: center; width: 690px; }
h2 { font-size: 1.1em; }
ul { text-align: center; margin-right: 45px; }
  ul li { display: inline; list-style-type: none; margin: 0 5px; padding: 0; }
  ul li a:link, ul li a:visited { background-color: #000; border: 1px solid #111; color: #fff; font-weight: bold; padding: 5px; text-decoration: none; }
  ul li a:hover { background-color: #fff; color: #000; text-decoration: none; }
table { border-collapse: collapse; border: 1px solid #000; margin: 0 auto; width: 100%; }
caption { margin: 0 auto .4em auto; }
th { border: 1px solid #000; font-weight: bold; padding: 3px; }
  th a:link, th a:visited { background-color: inherit; color: #000; text-decoration: underline; }
  th a:hover { background-color: inherit; color: #888; text-decoration: none; }
td {  border: 1px solid #000; padding: 3px; }
p#navigation { text-align: center; }
p#author { font: normal .6em "Verdana", sans-serif; text-align: center; }
