body { background-color: #fff; color: #000; font: normal 1em "Trebuchet MS", "Verdana", sans-serif; margin: 1.5em; padding: 0; text-align: center; }
input, select { font-size: 1em; }
a:link{ background-color: inherit; color: #777; font-weight: bold; text-decoration: underline; }
a:visited { background-color: inherit; color: #777; text-decoration: underline; }
a:hover { background-color: inherit; color: #ccc; text-decoration: none; }
div#container { border: 1px solid #000; margin: 0 auto; text-align: left; width: 700px; }
div#header { background-color: #000; border-bottom: 1px solid #000; color: #fff; text-align: center; }
  div#header h1 { font-weight: bold; font-size: 1.7em; margin: 0; padding: 5px; }
div#menu { text-align: center; }
  div#menu a:link, div#menu a:visited { background-color: inherit; color: #000; text-decoration: underline; }
  div#menu a:hover { background-color: inherit; color: #000; text-decoration: none; }
  div#menu ul { margin: 5px 0 0 0; padding: 0; }
  div#menu li { border-right: 1px solid #000; border-bottom: 1px solid #000; border-left: 1px solid #000; display: inline; list-style-type: none; margin: 0 5px 0 0; padding: 5px; }
div#content { padding: 0 15px; }
  div#content h2 { font-size: 1.3em; }
div#bottom { border-top: 1px solid #000; margin: 0; padding: 5px; text-align: center; }
  div#bottom p { padding: 0; margin: 0; }
span.star { background-color: inherit; color: #000; font-size: 1.1em; font-weight: bold; }
p.error { background-color: inherit; color: #f00; font-weight: bold; }
fieldset { border: 1px solid #ddd; margin: 7px 0; padding: 10px; }
legend { font-weight: bold; }
p.succes { background-color: inherit; border: 1px solid #080; color: #080; font-weight: bold; padding: 5px; width: 370px; margin: 3px auto; text-align: center; }
div.error { background-color: inherit; border: 1px solid #f00; color: #f00; font-weight: bold; margin: 3px auto; padding: 10px; width: 360px; }
  div.error p { margin: 0; padding: 0; }
table { border-collapse: collapse; border: 1px solid #000; font-size: .7em; margin: 1em 0; }
th, td {  border: 1px solid #000; }
